
<tr>
<th scope="row"><%= person.id %></th>
<td><%= person.first_name %></td>
<td><%= person.second_name %></td>
<td><%= person.first_last_name%></td>
<td><%= person.second_last_name%></td>
<td><%= person.document.document_type %></td>
<td><%= person.identificacion %></td>
<td><%= person.role.role_name %></td>
<td><%= link_to 'Show', person %></td>
</tr>